.floatingBtn {
  position: fixed;
  bottom: 22px;
  right: 22px;
  width: 50px;
  height: 50px;
  background: #25d366;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 18px rgba(0,0,0,0.25);
  z-index: 9999;
  transition: transform 0.3s ease;
}

.floatingBtn:hover {
  transform: scale(1.1);
}

.icon {
 font-size: 30px;
 color: white;
 font-weight: 900;
}
