.section {
  padding: 100px 0;
}

.heading {
  text-align: center;
  font-size: 36px;
  margin-bottom: 25px;
  font-weight: 700;
}

.grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
}

.card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  transition: .3s ease;
}

.card:hover {
  transform: translateY(-6px);
}
.head{
      margin-bottom: 8px;
    font-size: 18px;
    font-weight: 700;
}
.subhead{
      color: #555;
    /* max-width: 180px; */
    /* margin: 0 auto; */
    font-size: 14px;
    line-height: 1.6;
}

.image {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.info {
  padding: 20px;
  text-align: center;
}

.icon {
  font-size: 36px;
  color: #e94e1b;
  margin-bottom: 15px;
}
