.section {
  padding: 80px 0 0 0;
}

.wrapper {
  display: flex;
  gap: 40px;
  align-items: center;
  flex-wrap: wrap;
}

.imageBox {
  flex: 1;
}

.imageBox img {
    width: 100%;
    height: 300px;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.content {
  flex: 1;
}

.content h2 {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: 700;
  color: #222;
}

.content p {
  font-size: 17px;
  color: #555;
  line-height: 1.7;
  margin-bottom: 15px;
}
