.modalCard {
  background: #fff;
  border-radius: 14px;
  padding: 30px 25px;
  width: 100%;
  box-shadow: 0 12px 35px rgba(0,0,0,0.25);
}

.header {
  text-align: center;
  margin-bottom: 25px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: #222;
}

.subtitle {
  font-size: 14px;
  color: #666;
  margin-top: 5px;
}

.formArea {
  padding: 0 5px;
}

.formControl {
  padding: 11px 14px !important;
  font-size: 15px;
  border-radius: 8px;
}

.codeBox {
  max-width: 70px;
  text-align: center;
  border-radius: 8px 0 0 8px !important;
}

.submitBtn {
  width: 100%;
  background: #fa4f1b !important;
  border: none !important;
  padding: 13px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px !important;
}
/* Close Button (top-right) */
.closeBtn {
color: #333;
    cursor: pointer;
    z-index: 10;
    background: #fafafa;
    border: none;
    border-radius: 50%;
    padding: 4px 10px;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    top: -11px;
    right: -9px;
    box-shadow: 0 2px 8px #0000001f;
}

.closeBtn:hover {
  background: #ececec;
}


/* Mobile */
@media (max-width: 576px) {
  .modalCard {
    padding: 22px 18px;
  }
}
